/*******************************************************************************************************************
BODY ***************************************************************************************************************
*******************************************************************************************************************/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1B1B1B;
}


/*******************************************************************************************************************
NAV GERAL **********************************************************************************************************
*******************************************************************************************************************/


/* MENU HAMBURGUER */

.navbar-toggler {
    /* border: 2px solid #FCB040; */
    border: none;
}


/* SPAN - MENU HAMBURGUER */

.navbar-toggler-icon {
    color: #FCB040;
}


/* MENU HAMBURGUER - FUNDO */

@media only screen and (max-width: 992px) {
    #conteudoNavbarSuportado {
        background: #1B1B1B !important;
        height: 200px;
        color: #FCB040;
        text-align: center;
    }
    /*MENU HAMBURGUER*/
    .navbar-toggler,
    .navbar-toggler-icon {
        padding: 2px 5px;
        font-size: 25px;
        border: none;
    }
}


/* COR DAS NAVS */

#navSuperior {
    background-color: #1B1B1B;
    color: #FCB040;
    height: 45px;
}

#navInferior {
    background-color: #1B1B1B;
    color: #FCB040;
    /* margin-top: 60px; */
    display: flex;
    height: 60px;
    align-items: center;
}


/*******************************************************************************************************************
NAV SUPERIOR *******************************************************************************************************
*******************************************************************************************************************/


/*NAV SUPERIOR - LOGO */

.logo-kik {
    height: 150px;
    margin-top: -10px;
    position: absolute;
}


/*NAV SUPERIOR - BOTÕES REDES SOCIAIS  */

.btn-redes-sociais {
    color: #FCB040;
    /* background-color: #1B1B1B; */
    font-size: 20px;
}

.btn-redes-sociais:hover {
    color: white;
}

.list-botoes {
    margin-left: 300px;
}


/*NAV SUPERIOR - LOGIN E SAIR */

.list-login {
    padding: 10px;
    cursor: pointer;
}


/*NAV SUPERIOR - LOGIN E SAIR - COR E ESTILO */

.list-login>.list-inline-item>a {
    text-decoration: none;
    color: #FCB040;
    padding: 10px;
    cursor: pointer;
}

.list-login>.list-inline-item>a:hover {
    color: white;
}


/* NAV INFERIOR - MENU ITENS - ALINHAMENTO */

#navList {
    padding-left: 200px;
}


/*******************************************************************************************************************
NAV INFEIROR *******************************************************************************************************
*******************************************************************************************************************/


/*NAV INFERIOR - MENU ITENS COM LINKS */

#navList>li>a {
    color: #FCB040;
    text-decoration: none;
    cursor: pointer;
}

#navList>li>a:hover {
    color: white;
    border-bottom: solid 2px white;
}

#navList {
    margin-right: 130px;
}


/*DROPDOWN- ITENS */

.dropdown-menu,
.dropdown-item {
    color: #FCB040 !important;
    background-color: #1B1B1B;
}

.dropdown-item:hover {
    background-color: #FCB040;
    color: #1B1B1B !important;
}


/*******************************************************************************************************************
CAROUSEL ***********************************************************************************************************
*******************************************************************************************************************/


/*CAROUSEL IMAGEM */

.img-anime1 {
    background: url(../../img/carousel/carousel1.png) no-repeat center center fixed;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-anime2 {
    background: url(../../img/carousel/carousel2.png) no-repeat center center fixed;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-anime3 {
    background: url(../../img/carousel/carousel3.png) no-repeat center center fixed;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*CAROUSEL SETAS */

.icones-carousel>.fas {
    color: #1B1B1B;
    font-size: 100px;
}


/*CAROUSEL H6 */

.carousel-caption>h6 {
    color: #FCB040;
    text-decoration: none;
    font-size: 40px;
}


/*******************************************************************************************************************
*TELAS DE LOGIN E ERRO *********************************************************************************************
*******************************************************************************************************************/


/* ERRO CLIENTE - ALINHAMENTO*/

#background-erro-adm,
#background-erro-cliente {
    margin-top: 250px;
}


/*ALINHAMENTO***************
*CADASTRO  ADM*************/

#background-cadastro-adm {
    margin-top: 170px;
}


/*ALINHAMENTO***************
*LOGIN DO ADMINISTRADOR*****/

#background-login-adm {
    margin-top: 130px;
}


/*ALINHAMENTO***************
*CADASTRO E LOGIN CLIENTE***/

#background-login-cliente,
#background-cadastro-cliente {
    margin-top: 170px;
}


/*BORDA ********************
*LOGIN DE CLIENTE***********
*CADASTRO DE CLIENTE********
*LOGIN DO ADMINISTRADOR***** 
*CADASTRO DE PRODUTO********
*ERRO DE ADMINISTRADOR******
*ERRO DE CLIENTE **********/

#form-login-cliente,
#form-cadastro-cliente,
#form-login-adm,
#form-cadastro-produto,
#form-erro-adm,
#form-erro-cliente {
    border: 1px solid #FCB040;
    padding: 70px;
    margin-bottom: 50px;
    background-color: #1B1B1B;
}

*
/*TITULO H6 *************
*LOGIN DE CLIENTE********
*CADASTRO DE CLIENTE*****
*LOGIN DO ADMINISTRADOR** 
*CADASTRO DE PRODUTO*****
**ERRO DE ADMINISTRADOR**
*ERRO DE CLIENTE ********/

#form-login-cliente>h6,
#form-cadastro-cliente>h6,
#form-login-adm>h6,
#form-cadastro-produto>h6,
#form-erro-adm>h6,
#form-erro-cliente>h6 {
    color: #FCB040;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*LABEL*********************
*LOGIN DE CLIENTE***********
*CADASTRO DE CLIENTE********
*LOGIN DO ADMINISTRADOR***** 
*CADASTRO DE PRODUTO*******/

#form-login-cliente>.form-group>label,
#form-cadastro-cliente>.form-group>label,
#form-login-adm>.form-group>label,
#form-cadastro-produto>.form-row>.form-group>label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 10px;
}


/*BOTÕES ENTRAR E VOLTAR****
*LOGIN DE CLIENTE***********
*CADASTRO DE CLIENTE********
**LOGIN DO ADMINISTRADOR**** 
*CADASTRO DE PRODUTO********/

.btn-voltar,
.btn-entrar {
    color: #1B1B1B !important;
    background-color: #FCB040;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}

.btn-voltar:hover,
.btn-entrar:hover {
    color: #1B1B1B !important;
    background-color: white;
}

.btn-ir-login {
    color: #1B1B1B !important;
    background-color: #FCB040;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


/*******************************************************************************************************************
PAINEL ADM VIEW ****************************************************************************************************
*******************************************************************************************************************/


/* PAINEL ADM- TÍTULO - ALINHAMENTO */

#container-lista>.row>.col-md-12>h4 {
    color: #FCB040;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* PAINEL ADM - MODAL HEADER  */

.modal-header {
    color: #FCB040;
    text-transform: uppercase;
    margin: auto;
}


/* PAINEL ADM - MODAL CONTENT  */

.modal-content {
    background-color: rgb(37, 35, 35);
    color: white;
}


/* PAINEL ADM -ALERT DELETES  */

.alert-delete {
    display: flex;
    justify-content: center;
}


/* PAINEL ADM - MODAL - BOTÃO DELETAR  */

.btn-deletar {
    color: #1B1B1B;
    background: #FCB040;
    margin-right: 10px;
    text-decoration: none;
}

.btn-deletar:hover {
    color: #1B1B1B;
}


/* PAINEL ADM - MODAL - BOTÃO SAIR  */

.btn-sair {
    color: white;
    background: #1B1B1B;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid white;
}

.btn-sair:hover {
    color: white;
    text-decoration: none;
}


/*******************************************************************************************************************
PAINEL ADM - CADASTRO DE PRODUTO ***********************************************************************************
*******************************************************************************************************************/


/* CADASTRO DE PRODUTOS - FUNDO*/

#container-lista {
    background-color: #1B1B1B;
    margin-top: 50px;
}


/* PAINEL ADM - BOTÃO DE INCLUIR CADASTRO E DE ATUALIZAR*/

#botoes-lista>a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    background-color: #FCB040;
    color: #1B1B1B;
    margin-left: 10px;
    margin-bottom: 4px;
}

#botoes-lista>a:hover {
    background-color: white;
    color: #1B1B1B;
}


/* CADASTRO DE PRODUTOS - CADASTRO DE USUÁRIO*/

.nome-adm {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*******************************************************************************************************************
PAINEL ADM - TABELA ************************************************************************************************
*******************************************************************************************************************/

.table {
    margin-top: 30px !important;
    margin-left: 15px;
    margin-right: 15px;
}


/* CADASTRO DE PRODUTOS - TABELA COM LISTA DE PRODUTOS*/

#table-cabecalho {
    border-top: 2px solid #FCB040;
    border-bottom: 2px solid #FCB040;
    color: #FCB040;
}

#table-lista {
    border-top: 1px solid #FCB040;
    border-bottom: 1px solid #FCB040;
    color: white;
    height: 100px;
}

#table-lista:hover {
    background-color: rgb(37, 35, 35);
    color: #FCB040;
}


/* CADASTRO DE PRODUTOS - BOTÕES TABELA*/

.acao-lista>a,
.acao-lista>button {
    background-color: #FCB040;
    color: #1B1B1B;
    text-decoration: nome;
    margin-left: 10px;
}

.acao-lista>a:hover,
.acao-lista>button:hover {
    background-color: white;
    color: #1B1B1B;
}


/*******************************************************************************************************************
INDEX **************************************************************************************************************
*******************************************************************************************************************/


/*INDEX ESTILO DO CARD*/

.card-listaProdutos {
    border: 1px solid #FCB040;
    background-color: rgb(37, 35, 35);
    color: #FCB040;
    padding: 20px;
}


/*INDEX NOME DO PRODUTO*/

.card-listaProdutos>h4 {
    color: white;
}

.img-card:hover {
    transform: scale(2.3);
}


/*INDEX- NOME DO CLIENTE */

@media only screen and (max-width: 1023px) {
    #nome-cliente>h4 {
        margin-top: 30px;
        color: white;
        text-align: end;
    }
}

#nome-cliente>h4 {
    margin-top: 30px;
    color: white;
}


/*INDEX- FORM PESQUISA */

#form-pesquisa {
    margin-top: 30px;
}


/*INDEX- INPUT DE PESQUISA */

#input-pesquisa>input {
    background-color: #1B1B1B;
    color: #FCB040;
    border: solid 1px #FCB040;
    /* width: 150px; */
}


/*INDEX - BOTÃO IR */

.btn-ir {
    color: #1B1B1B;
    background-color: #FCB040;
    margin-top: -4px;
}

.btn-ir:hover {
    color: #1B1B1B;
    background-color: white;
}

#contador {
    text-align: end;
}

#contador>ul>li>a {
    color: #FCB040 !important;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
}

#contador>ul>li>a:hover {
    color: white !important;
    text-decoration: none;
}


/*******************************************************************************************************************
PORTFÓLIO***********************************************************************************************************
*******************************************************************************************************************/

#portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
}


/*TITULO H4*/

#portfolio>.col-12>h4 {
    color: #FCB040;
    margin-top: 60px;
}


/*TEXTO*/

#portfolio>.col-12>p {
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 20px;
}


/* PORTFÓLIO- ESTAMPAS  */

.img-estampa {
    width: 250px;
    margin: auto;
}


/* PORTFÓLIO - CARD */

.card-body {
    border: 1px solid #FCB040;
    background-color: rgb(37, 35, 35);
    color: #FCB040;
    padding: 20px;
}


/* PORTFÓLIO- ESTAMAPAS ALINHAMENTO  */

#galeria>.col-lg-4,
#galeria>.col-md-6 {
    margin-top: 30px;
}


/*******************************************************************************************************************
SOBRE **************************************************************************************************************
*******************************************************************************************************************/


/*ALINHAMENTO*/

#sobre {
    margin-top: 10px;
    margin-bottom: 30px;
}


/*TITULO H4*/

#sobre>.col-12>h4 {
    color: #FCB040;
    margin-top: 100px;
    margin-bottom: 70px;
}


/*SOBRE FOTOS - LG 6 */

#sobre>.col-lg-4>.d-flex>img {
    margin-top: 30px;
    height: 180px;
    border-radius: 150px;
}


/*SOBRE NOMES - LG 6*/

#sobre>.col-lg-4>.d-flex>div>h6 {
    margin-top: 40px;
    margin-left: 20px;
    color: #FCB040;
}


/*SOBRE INFORMAÇÕES - LG 6*/

#sobre>.col-lg-4>.d-flex>div>p {
    margin: 3px;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    text-align: justify;
}


/*SOBRE BOTÕES - LG 12*/

#sobre>.col-lg-4>.d-flex>div>a {
    border: 1px solid #FCB040;
    color: #FCB040;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
}

#sobre>.col-lg-4>.d-flex>div>a:hover {
    border: 1px solid white;
    color: white;
    text-decoration: none;
}


/* SOBRE MODAL - REDES SOCIAIS  */

.modal-redes {
    text-align: center;
    color: #FCB040;
}

.modal-redes:hover {
    color: white;
}


/* SOBRE MODAL - BOTÃO SAIR  */

.btn-modal {
    border: 1px solid #FCB040;
    color: #FCB040;
    background-color: rgb(37, 35, 35) !important;
    text-decoration: none;
}

.btn-modal:hover {
    border: 1px solid white;
    color: white;
}


/*******************************************************************************************************************
CARRINHO ***********************************************************************************************************
*******************************************************************************************************************/


/* CARRINHO - TITULO DA PAGINA H4  */

#carrinhoCompra>.col-md-12>h4 {
    margin-top: 160px;
    margin-bottom: 40px;
    text-align: center;
    color: #FCB040;
}


/* CARRINHO - TOTAL DA COMPRA  */

#carrinhoCompra>.col-md-12>h5 {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}


/* CARRINHO - TOTAL DA COMPRA - TM SM */

@media only screen and (max-width: 1023px) {
    #carrinhoCompra>.col-md-12>h5 {
        text-align: end;
        margin-right: 20px;
    }
}


/* CARRINHO - BOTÃO CARRINHO ALINHAMENTO  */

#botoes-carrinho {
    text-align: end !important;
}

#botoes-carrinho>a {
    margin-right: 20px;
}


/* CARRINHO - NOME DO CLIENTE - TM SM  */

@media only screen and (max-width: 1023px) {
    .nome-cliente {
        margin-right: 20px;
        color: #FCB040;
        text-align: end;
    }
}


/* CARRINHO - NOME DO CLIENTE */

.nome-cliente {
    margin-left: 20px;
    color: #FCB040;
    margin-bottom: 20px;
}


/* CARRINHO - TITULO CARD H5 */

.card-listaProdutos>.d-flex>.col-lg-4>h5 {
    color: white;
}


/* CARRINHO - BOTÃO ADD CARRINHO*/

.btn-carrinho {
    color: #1B1B1B;
    background-color: #FCB040;
    margin-top: 10px;
}

.btn-carrinho:hover {
    color: #1B1B1B;
    background-color: white;
}


/* CARRINHO - BOTÃO REMOVE */

.btn-remover {
    color: white;
    border: 1px solid white;
    margin-top: 15px;
}

.btn-remover:hover {
    border: 1px solid #FCB040;
    color: #FCB040;
}


/*******************************************************************************************************************
CONFIRMAÇÃO DE COMPRA***********************************************************************************************
*******************************************************************************************************************/


/* CONFIRMAÇÃO - TITULO H4  */

#compra>.col-12>h4 {
    margin-top: 180px;
    color: #FCB040;
    text-align: center;
}


/* CONFIRMAÇÃO - MENSAGEM  */

#compra>.col-12>p {
    margin-top: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
}


/* CONFIRMAÇÃO - COLUNAS DE RESUMO DA COMPRA */

#compra>.col-12>.d-flex>.col-md-6 {
    margin-top: 20px;
    color: #FCB040;
    font-size: 20px;
    text-align: start;
}


/* CONFIRMAÇÃO - CARD */

#informacao>.card {
    margin-top: 50px;
}


/* CONFIRMAÇÃO - ALINHAMENTO E TAMANHO DA FONTE */

#informacao>.col-lg-6>.card>.d-flex>.col-md-8 {
    text-align: start;
    padding: 20px;
}

#informacao>.col-lg-6>.card>.d-flex>.col-md-8>h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}


/*******************************************************************************************************************
MEUS PEDIDOS********************************************************************************************************
*******************************************************************************************************************/

.card-listaProdutos>.d-flex>.col-lg-1 {
    color: white;
    font-size: 70px;
}


/*******************************************************************************************************************
CONTATO ***********************************************************************************************************
*******************************************************************************************************************/


/* CONTATO - TITULO H4 */

#contato>.col-12>h4 {
    margin-top: 160px;
    margin-bottom: 40px;
    text-align: center;
    color: #FCB040;
}


/* CONTATO - TITULO H5 */

#contato>.col-12>h5 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}


/* CONTATO - FORMULÁRIO ALINHAMENTO */

#form_contato {
    /* border: 1px solid #FCB040; */
    margin-bottom: 20px;
    padding: 40px;
    color: #FCB040;
}


/* CONTATO - BOTÃO ENVIAR */

.btn-enviar {
    color: white !important;
    border: 1px solid white;
    margin-top: 10px;
    background-color: #1B1B1B;
}


/* CONTATO - BOTÃO ENVIAR */

.btn-enviar:hover {
    border: 1px solid #FCB040;
    color: #FCB040 !important;
}


/* CONTATO - TITULO H5 */

#contato_informacoes>h5 {
    margin-top: 40px;
    color: #FCB040;
}

#contato_informacoes>p {
    color: white;
}

.img-cat {
    margin-top: 30px;
}


/*******************************************************************************************************************
FOOTER *************************************************************************************************************
*******************************************************************************************************************/

footer {
    margin-top: 60px;
    color: white;
    background-color: rgb(37, 35, 35)!important;
    padding-top: 40px;
    padding-bottom: 30px;
}

hr {
    background-color: white;
}

#footer_sobre>ul>li {
    text-align: justify;
}

#footer_nav>ul>li>a {
    color: #FCB040;
}

#footer_nav>ul>li>a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.alert-danger {
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 50px;
    border-radius: 5px;
}