/***************************
********* BODY *********
***************************/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1B1B1B;
}


/***************************
*******NAVS GERAL *********
***************************/


/* MENU HAMBURGUER */

.navbar-toggler {
    /* border: 2px solid #FCB040; */
    border: none;
}


/* SPAN - MENU HAMBURGUER */

.navbar-toggler-icon {
    color: #FCB040;
}


/* COR DAS NAVS */

#navSuperior {
    background-color: #1B1B1B;
    color: #FCB040;
    height: 45px;
}

#navInferior {
    background-color: #1B1B1B;
    color: #FCB040;
    margin-top: 60px;
    display: flex;
    height: 60px;
    align-items: center;
}


/***************************
*******NAV SUPERIOR*********
***************************/


/*NAV SUPERIOR - LOGO */

.logo-kik {
    height: 150px;
    margin-top: -10px;
    position: absolute;
}


/*NAV SUPERIOR - BOTÕES REDES SOCIAIS  */

.btn-redes-sociais {
    color: #FCB040;
    background-color: #1B1B1B;
    font-size: 20px;
}

.btn-redes-sociais:hover {
    color: white;
}

.list-botoes {
    margin-left: 150px;
}


/*NAV SUPERIOR - LOGIN E SAIR */

.list-login {
    padding: 10px;
    cursor: pointer;
}


/*NAV SUPERIOR - LOGIN E SAIR - COR E ESTILO */

.list-login>.list-inline-item>a {
    text-decoration: none;
    color: #FCB040;
    padding: 10px;
    cursor: pointer;
}

.list-login>.list-inline-item>a:hover {
    color: white;
}


/*NAV SUPERIOR - INPUT DE PESQUISA */

#input-pesquisa>input {
    background-color: #1B1B1B;
    color: #FCB040;
    border: solid 1px #FCB040;
}


/*NAV SUPERIOR - BOTÃO IR */

.btn-ir {
    color: #1B1B1B;
    background-color: #FCB040;
    margin-top: -4px;
}

.btn-ir:hover {
    color: #1B1B1B;
    background-color: white;
}


/* NAV INFERIOR - MENU ITENS - ALINHAMENTO */

#navList {
    padding-left: 200px;
}


/***************************
*******NAV INFERIOR*********
***************************/


/*NAV INFERIOR - MENU ITENS COM LINKS */

#navList>li>a {
    color: #FCB040;
    text-decoration: none;
    cursor: pointer;
}

#navList>li>a:hover {
    color: white;
    border-bottom: solid 2px white;
}


/*DROPDOWN- ITENS */

.dropdown-menu,
.dropdown-item {
    color: #FCB040 !important;
    background-color: #1B1B1B;
}

.dropdown-item:hover {
    background-color: #FCB040;
    color: #1B1B1B !important;
}


/***************************
*****CAROUSEL PRINCIPAL*****
***************************/


/*CAROUSEL IMAGEM */

.img-anime1 {
    background: url(../../img/carousel/carousel1.png) no-repeat center center fixed;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-anime2 {
    background: url(../../img/carousel/carousel2.png) no-repeat center center fixed;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-anime3 {
    background: url(../../img/carousel/carousel3.png) no-repeat center center fixed;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*CAROUSEL SETAS */

.icones-carousel>.fas {
    color: #1B1B1B;
    font-size: 100px;
}


/*CAROUSEL H6 */

.carousel-caption>h6 {
    color: #FCB040;
    text-decoration: none;
    font-size: 40px;
}


/***************************
***********HOME*************
***************************/


/* CARDS BOTÃO*/

.btn-carrinho {
    color: #1B1B1B;
    background-color: #FCB040;
    margin-top: 10px;
}

.btn-carrinho:hover {
    color: #1B1B1B;
    background-color: white;
}


/* ERRO CLIENTE - ALINHAMENTO*/

#background-erro-adm,
#background-erro-cliente {
    margin-top: 120px;
}


/***BORDA E ESPAÇAMENTO*********
*****LOGIN DE CLIENTE***********
*****CADASTRO DE CLIENTE********
*****LOGIN DO ADMINISTRADOR***** 
*****CADASTRO DE PRODUTO********
*****ERRO DE ADMINISTRADOR******
*****ERRO DE CLIENTE **********/

#form-login-cliente,
#form-cadastro-cliente,
#form-login-adm,
#form-cadastro-produto,
#form-erro-adm,
#form-erro-cliente {
    margin-top: 40px;
    border: 1px solid #FCB040;
    padding: 70px;
    /*AJUSTAR DEPOIS DE FAZER O FOOTER*/
    margin-bottom: 50px;
    background-color: #1B1B1B;
}

#background-login-adm,
#background-cadastro-adm,
#background-cadastro-adm {
    margin-top: 100px;
}


/****TITULO H6 *****************
*****LOGIN DE CLIENTE***********
*****CADASTRO DE CLIENTE********
*****LOGIN DO ADMINISTRADOR***** 
*****CADASTRO DE PRODUTO********
*****ERRO DE ADMINISTRADOR******
*****ERRO DE CLIENTE **********/

#form-login-cliente>h6,
#form-cadastro-cliente>h6,
#form-login-adm>h6,
#form-cadastro-produto>h6,
#form-erro-adm>h6,
#form-erro-cliente>h6 {
    color: #FCB040;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/****LABEL**********************
*****LOGIN DE CLIENTE***********
*****CADASTRO DE CLIENTE********
*****LOGIN DO ADMINISTRADOR***** 
*****CADASTRO DE PRODUTO*******/

#form-login-cliente>.form-group>label,
#form-cadastro-cliente>.form-group>label,
#form-login-adm>.form-group>label,
#form-cadastro-produto>.form-row>.form-group>label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 10px;
}


/****COR INTERNA COMBOBOX
#form-cadastro-produto>.form-row>.form-group>.form-control>option {
    color: #1B1B1B;
    background-color: #FCB040;
} */


/****BOTÕES ENTRAR E VOLTAR****
*****LOGIN DE CLIENTE***********
*****CADASTRO DE CLIENTE********
*****LOGIN DO ADMINISTRADOR***** 
*****CADASTRO DE PRODUTO*******/

.btn-voltar,
.btn-entrar {
    color: #1B1B1B !important;
    background-color: #FCB040;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}

.btn-voltar:hover,
.btn-entrar:hover {
    color: #1B1B1B !important;
    background-color: white;
}

.btn-ir-login {
    color: #1B1B1B !important;
    background-color: #FCB040;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


/****************************************
*** PAINEL ADM - LISTA DE PRODUTOS ******
*****************************************/


/* CADASTRO DE PRODUTOS - FUNDO*/

#container-lista {
    background-color: #1B1B1B;
    margin-top: 50px;
}


/* CADASTRO DE PRODUTOS - TÍTULO E BOTÃO SAIR - ALINHAMENTO */

#container-lista>.row>.col-md-12>h4 {
    color: #FCB040;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* CADASTRO DE PRODUTOS - BOTÃO DE CADASTRO E DE ATUALIZAR*/

#botoes-lista>a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    background-color: #FCB040;
    color: #1B1B1B;
    margin-left: 10px;
    margin-bottom: 4px;
}

#botoes-lista>a:hover {
    background-color: white;
    color: #1B1B1B;
}


/* CADASTRO DE PRODUTOS - CADASTRO DE USUÁRIO*/

.nome-adm {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/****************************************
*** TABELA - CADASTRO DE PRODUTOS *******
*****************************************/

.table {
    margin-top: 30px !important;
    margin-left: 15px;
    margin-right: 15px;
}


/* CADASTRO DE PRODUTOS - TABELA COM LISTA DE PRODUTOS*/

#table-cabecalho {
    border-top: 2px solid #FCB040;
    border-bottom: 2px solid #FCB040;
    color: #FCB040;
}

#table-lista {
    border-top: 1px solid #FCB040;
    border-bottom: 1px solid #FCB040;
    color: white;
    height: 100px;
}

#table-lista:hover {
    background-color: rgb(37, 35, 35);
    color: #FCB040;
}


/* CADASTRO DE PRODUTOS - BOTÕES TABELA*/

.acao-lista>a,
.acao-lista>button {
    background-color: #FCB040;
    color: #1B1B1B;
    text-decoration: nome;
    margin-left: 10px;
}

.acao-lista>a:hover,
.acao-lista>button:hover {
    background-color: white;
    color: #1B1B1B;
}


/* PAINEL ADM -ALERT  */

.alert-delete {
    display: flex;
    justify-content: center;
}


/* PAINEL ADM - MODAL HEADER  */

.modal-header {
    color: #FCB040;
    text-transform: uppercase;
    margin: auto;
}


/* PAINEL ADM - MODAL CONTENT  */

.modal-content {
    background-color: rgb(37, 35, 35);
    color: white;
}


/* PAINEL ADM - BOTÃO DELETAR  */

.btn-deletar {
    color: #1B1B1B;
    background: #FCB040;
    margin-right: 10px;
    text-decoration: none;
}

.btn-deletar:hover {
    color: #1B1B1B;
}


/* PAINEL ADM - BOTÃO SAIR  */

.btn-sair {
    color: white;
    background: #1B1B1B;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid white;
}

.btn-sair:hover {
    color: white;
    text-decoration: none;
}


/****************************************
***************** INDEX *****************
*****************************************/

.card-listaProdutos {
    border: 1px solid #FCB040;
    background-color: rgb(37, 35, 35);
    color: #FCB040;
    padding: 30px;
}

.card-listaProdutos>h4 {
    color: white;
}


/****************************************
***************** CARRINHO **************
*****************************************/


/* CARRINHO - H4  */

#carrinhoCompra>h4 {
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

#carrinhoCompra>h5 {
    color: white;
    text-align: center;
}


/* CARRINHO - NOME DO CLIENTE */

.nome-cliente {
    color: #FCB040;
    margin-bottom: 20px;
}

.listacarrinho>h4,
.listacarrinho>h2 {
    margin-top: 50px;
    color: white;
}


/****************************************
*************** FOOTER ******************
*****************************************/

footer {
    margin-top: 60px;
    color: white;
}